{%  extends 'stock/main.html' %}
{% load static %}
{% block content %}

<form method="post">
	{% csrf_token %}
	{{ orderformset.management_form }}
	<div id="form_set">
	    {% for form in orderformset %}
		    {{form.non_field_errors}}
			{{form.errors}}
	        <table class='no_error'>
	            {{ form }}
	        </table>
	    {% endfor %}
	</div>
	<input type="button" value="Add More" id="add_more">
	<div id="empty_form" style="display:none">
	    <table class='no_error'>
	        {{ orderformset.empty_form }}
	    </table>
	</div>
	<input type="submit" name="Submit">
</form>
<script >

	$('#add_more').click(function() {
		var form_idx = $('#id_form-TOTAL_FORMS').val();
		$('#form_set').append($('#empty_form').html().replace(/__prefix__/g, form_idx));
		$('#id_form-TOTAL_FORMS').val(parseInt(form_idx) + 1);
	});
</script>
{% endblock %}
