
.search {
    width: 100%;
    position: relative;
    display: flex;
    top: 70px;
}

.mynavbar {
    background-color: rgba(245, 245, 239, 0.3);

}

/*
.searchTerm {
    width: 100%;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    height: 36px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}
*/


/*
.searchTerm:focus {
    color: #00B4CC;
}
*/


/*
.searchButton {

    width: 40px;
    height: 36px;
    border: 3px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 17px;
}
*/

/*Resize the wrap to see the search bar change!*/
.wrap {
    width: 40%;
    position: absolute;
    top: 10%;
    left: 30%;
    transform: translate(-50%, -50%);
}

/*
body {
    padding: 20px 20px;
}
*/

.tableallign {
    width: 80%;
    top: 30%;
    position: absolute;
    margin: 10px;
    right: 10;
    left: 10%;
}

/*
.tablewrap {
    width: 70%;
}
*/

/*
.results {
    border: 10px solid black;
}
*/

/*
.results tr[visible='false'],
.no-result {
    display: none
}

.results tr[visible='true'] {
    display: table-row;
}
*/


